html {
  font-family: 'Assistant', sans-serif;
  height: 100%;
}

body {
  background-color: #DFDCE3;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: visible;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

h3 {
  padding: 0px;
  margin: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
}

a , a:visited {
  color: #444444;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  margin: 0px;
  min-width: 350px;
  padding: 0px;
}

.main {
  width: 100%;
}

.header {
  background-color: #4ABDAC;
  font-family: 'Assistant', sans-serif;
  left: 0px;
  padding: 10px 20px 0px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header span {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
}

.header li {
  border-bottom: 2px solid transparent;
  display: inline-block;
  margin-right: 20px;
  padding: 6px 6px 6px 0;
  text-transform: uppercase;
}

.header li:hover {
  box-sizing: border-box;
  border-color: #F7B733;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header li a:hover {
  font-weight: 700;
  color: #F7B733;
}

.selected {
  font-weight: 700;
  color: #F7B733 !important;
}

.content {
  color: #444444;
  padding: 20px;
  width: 100%;
}