table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
  table-layout: fixed;
  width: 100%
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ECF8F6;
}

.status-container {
  width: 95%;
}

.status-quarter {
  background: linear-gradient(0deg, #FFF, transparent);
  color: #F7B733;
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.status-row {
  padding: 10px 20px;
}

.status-task {
  width: 30%;
}

.status-references {
  width: 60%;
}

.status-status {
  width: 10%;
  text-align: center;
  text-transform: capitalize;
}
