html {
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Oswald", sans-serif;
}

.header ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 20px 10px;
  text-align: right;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
}

.header a {
  color: inherit;
  text-decoration: none;
  font-size: 36px;
}

.header a:hover {
  color: salmon;
}

.app {
  background-color: blue;
}
