html {
  font-family: 'Assistant', sans-serif;
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a:hover {
  cursor: pointer;
}

a , a:visited {
  color: #444444;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  margin: 0px;
  min-width: 350px;
  padding: 0px;
}

.main {
  width: 100%;
}

.header {
  background-color: #f9f9f9;
  font-family: 'Assistant', sans-serif;
  padding: 10px 20px 0px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header span {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
}

.header li {
  border-bottom: 2px solid transparent;
  display: inline-block;
  margin-right: 20px;
  padding: 6px;
  text-transform: uppercase;
}

.header li:hover {
  box-sizing: border-box;
  border-color: #93a3b1;
}

.header a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.header li a:hover {
  font-weight: 700;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
}

.selected {
  font-weight: 700;
}

.content {
  background-color: #c6c7c4;
  color: #444444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
}

.home {
  background-color: #93a3b1;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.about {
  background-color: #E8CCBF;
  display: inline-flex;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.about-details {
  margin-top: 20px;
  margin-left: 20px;
  text-align: justify;
  max-width: 600px;
}


.resume {
  background-color: #c6c7c4;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.portfolio {
  background-color: #7c898b;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.status {
  background-color: #73877B;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.main_photo {
  max-height: 589px;
}
